@font-face {
    font-family: "Oswald";
    src: url("fontOswald/Oswald-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
}

.central {
    margin: 0 auto;
    width: 80%;
    background-color:gray;
    border: solid 4px black;
}

.central img {
    border-radius: 45px;
}

.img-grd {
    height: 500px;
    text-align: center;
    overflow: hidden;
    padding: 10px;
}

.img-grd img {
    height: inherit;
    padding: 10px;
}

.mini {
    height: 200px;
    display: flex;
    justify-content: space-between;

}

.mini div {
    width: 23%;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

.mini div img {
    width: 90%;
    border: solid 2px black;
}