*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

#fundoind {
    background-image: url(images/background2.jpg);
    background-size: cover;
}

#fundocont {
    background-image: url(images/futsalcont.jpg);
    background-size: cover
}

#nav-principal{
    display: flex;
    height: 50px;
    padding: 0 10px;
    background-color: #ff6634;
    justify-content: space-around;
    align-items: center;
    box-shadow: black 0px 5px 20px 5px;
    cursor: default;
}

.logo {
    font-size: 25px;
}

.nav-links{
    display: flex;
    width: 60%;
    justify-content: space-between;
    transition: 0.5s;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.burguer{
    display: none;
    cursor: pointer;
}

.burguer div{
    width: 28px;
    height: 4px;
    margin: 3px;
    transition: 1s;
    background-color: black;
}

.burguer img{
    width: 30px;
}

@media screen and (max-width: 768px){
    .burguer{
        display: block;
    }

    .nav-links{
        flex-direction: column;
        align-items: center;
        font-size: 22px;
        background-color: cornflowerblue;
        height: 92vh;
        position: absolute;
        right: 0px;
        top: 8vh;
        border-radius: 100% 0 0 100%;
        transform: translateX(100%)
    }

    .exibir {
        transform: translateX(0%);
        border-radius: 0;
    }

    .close1 {
        transform: translateY(8px) rotate(1485deg);
    }

    .close2 {
        transform: rotate(1485deg) translateY(1px);
    }

    .close3 {
        transform: translateY(-6px) rotate(-1485deg);
    }
}

.conteudo{
    align-items: center;
    padding: 15px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 85px;
    background-color: #ff6634;
    border: solid black 3px;
    box-shadow: black 0px 5px 10px 5px;
}

.conteudo p {
    text-align: center;
    font-size: 50px;
}

.conteudo h1 {
text-align: justify;
}

.contatos {
    padding: 15px;
}

.contatos ul h1 {
    text-align: center;
    font-size: 25px;
}