* {
    box-sizing: border-box;
}

body {
    background-image: url("images/background.jpg");
    background-size: cover;

}

.central {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.central p {
    text-align: center;
    font-size: 30px;
}

.titulo {
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    border: solid black 2px;
    width: 500px;
    background-color: #ff6634;
    font-size: 25px;
    box-shadow: black 0px 20px 54px 0px;
}

.central h1 {
    text-align: justify;
    font-size: 23px;
    padding: 5px;
}

.central fieldset {
    margin: 0 auto;
    height: 100%;     
    text-align: center;
    border: solid black 2px;
    width: 500px;
    background-color: white;
    box-shadow: black 0px 20px 54px 20px;
}
